<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Project</title>
    <link rel="stylesheet" href="{{ publicDir }}/css/reset.css">
    <link rel="stylesheet" href="{{ publicDir }}/css/style.css">
</head>

<body>
    <div class="layout-fix">
        <div>
            <header>
                <nav>
                    <a href="./">
                        <img src="{{ publicDir }}/images/logo-metaro-white.svg" class="logo" alt="Logo">
                    </a>
                </nav>
            </header>
            <main class="fade-in">
