@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f1f1;
  color: white;
}

body .layout-fix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* //////// Typography //////// */
h1 {
  font-size: 30px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

a,
input,
label,
textarea {
  font-weight: 400;
  text-decoration: none;
}

/* //////// Header //////// */
header {
  background-color: rgb(32, 32, 32);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px 16px;
}

header nav a:hover {
  color: #0053b0;
}

header .logo {
  width: 150px;
  margin: 10px 0;
}

/* //////// Main //////// */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 0 42px;
  margin: 130px auto 52px;
}

main.fade-in {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

main h1 {
  margin: 24px 0 32px;
  color: #0053b0;
  text-align: center;
}

main p {
  margin: 10px 0;
}

/* //////// Form //////// */
.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
}

form label {
  color: black;
  margin: 0 0 4px 2px;
}

form input {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
}

form input:focus {
  outline: 2px solid #0053b0;
}

form .check {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 0 6px 0 4px;
  margin-top: 10px;
  gap: 40px;
}

form .check::selection {
  background: transparent;
  color: inherit;
}

form .check::-moz-selection {
  background: transparent;
  color: inherit;
}

form .check::-webkit-selection {
  background: transparent;
  color: inherit;
}

form .check div {
  display: flex;
}

form .check div label {
  display: block;
  margin: 0;
  cursor: pointer;
}

form .check div input {
  width: 20px;
  outline: none;
  margin: 0 8px 0 0;
  cursor: pointer;
}

form .check div input:focus {
  width: 20px;
  outline: none;
}

.buttons {
  display: flex;
  gap: 6px;
}

.button {
  border-radius: 6px;
  border: none;
  color: #fff;
  background-color: #0053b0;
  padding: 12px 24px;
  margin-top: 30px;
  transition: all 0.2s ease;
  width: fit-content;
  cursor: pointer;
}

.button[type="reset"] {
  background-color: #b00000;
}

.button[type="reset"]:active {
  background-color: #970000;
}

.button:hover {
  transform: scale(0.98);
}

.button:active {
  background-color: #014592;
}

/* //////// Sign //////// */
.sign-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
}

.sign-container i {
  font-style: italic;
}

.sign-section textarea {
  width: 100%;
  min-height: 350px;
  padding: 35px 35px 25px;
  margin-top: 40px;
  resize: none;
  border-radius: 2px;
}

.textarea-container {
  position: relative;
}

.textarea-container button {
  position: absolute;
  top: 56px;
  right: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.textarea-container button svg {
  width: 40px;
  transition: .4s;
}

.textarea-container button:hover svg {
  fill: rgb(24, 24, 24);
}

.textarea-container button:active svg {
  transform: scale(0.9);
}

/* //////// Tooltip //////// */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  
  position: absolute;
  bottom: 125%; /* Posição acima do elemento */
  left: 50%;
  transform: translateX(-50%);
  
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 13px;
  z-index: 10;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* //////// Footer //////// */
footer {
  text-align: center;
  background-color: rgb(32, 32, 32);
  width: 100%;
  padding: 24px 40px;
  margin: 0 auto;
}

footer p {
  color: #aaaaaa;
}

footer p span.author {
  color: #ffffff;
  cursor: pointer;
}

footer p span.author:hover {
  color: #aaaaaa;
}

/* //////// Media query //////// */
@media (max-width: 420px) {
  header .logo {
    width: 110px;
  }
}

@media (max-width: 735px) {
  form {
    width: 80vw;
  }

  form .check {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 800px) {
  .sign-section {
    width: 100%;
  }

  .sign-container {
    overflow: scroll;
    overflow-y: hidden;
  }
}

/* //////// Keyframes //////// */
@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
